<div class="jumbo">
    <div class="right tomster"></div>
    <h2></h2>
    <p>
        The Super Rentals website is a delightful project created to explore ember.
        By building a property rental site, we can simultaneously imagine travaling
        and bulding ember applications.
    </p>
</div>
